### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [63]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [64]:
#simple dataframe built using simply dictionary
#grab the number of unique instances in "SN" column/series 

total_players = purchase_data["SN"].nunique()
player_db = pd.DataFrame({
    "Total Players": [total_players]
})
player_db

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [65]:
#purchase analysis summary dataframe

avg = np.round(purchase_data["Price"].mean(), 2)

total_analysis_df = pd.DataFrame({
    "Number of Unique Items":[purchase_data["Item ID"].nunique()],
    "Average Price":[avg],
    "Number of Purchases":[purchase_data["Purchase ID"].count()],
    "Total Revenue":[purchase_data["Price"].sum()]   
})
total_analysis_df["Average Price"] = total_analysis_df["Average Price"].map("${:.2f}".format)
total_analysis_df["Total Revenue"] = total_analysis_df["Total Revenue"].map("${:.2f}".format)

total_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [66]:
#create a dataframe of unique SN's and grab total counts for all genders
#perform percentage calculations
#display dataframe

unique_sn_df = purchase_data.drop_duplicates(subset="SN", inplace=False)

gender_num = unique_sn_df["Gender"].value_counts()
gender_pct = np.round((gender_num / total_players)*100, 2)
gender_num
gender_df = pd.DataFrame({
   
    "Total Count":(gender_num),
    "Percentage Of Players":(gender_pct)    
})

gender_df

                       Total Count  Percentage Of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [67]:
#calculations and series' for Purchasing Analysis dataframe
groupby_gender_df = purchase_data.groupby("Gender")
purchase_count = groupby_gender_df["Purchase ID"].count()
avg_purchase_price = groupby_gender_df["Price"].mean()
ttl_purchase_value = groupby_gender_df["Price"].sum()
avg_ttl_per_person = np.round((groupby_gender_df["Price"].sum() / gender_num), 2)

In [68]:
#gender analysis summary dataframe
gender_analysis_df = pd.DataFrame({"Gender": ["Female","Male", "Other / Non-Disclosed"],
                           "Purchase Count": (purchase_count),
                           "Average Purchase Price":(avg_purchase_price),
                           "Total Purchase Value": (ttl_purchase_value),
                           "Avg Total Purchase per Person": (avg_ttl_per_person)
                        })

#format columns with '$' and set gender column as index
gender_analysis_df["Average Purchase Price"] = gender_analysis_df["Average Purchase Price"].map("${:.2f}".format)
gender_analysis_df["Total Purchase Value"] = gender_analysis_df["Total Purchase Value"].map("${:.2f}".format)
gender_analysis_df["Avg Total Purchase per Person"] = gender_analysis_df["Avg Total Purchase per Person"].map("${:.2f}".format)

gender_analysis_df.set_index(["Gender"], inplace=True)
gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [69]:
#set up bins for ages and calculations for age groups
max_age = purchase_data.Age.max()
bins = [0,9,14,19,24,29,34,39,max_age]

group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_names)

drop_sn = purchase_data.drop_duplicates(subset="SN", inplace=False)

age_bins_counts = drop_sn["Age Group"].value_counts().sort_index(axis=0)
percent_bins_counts = np.round((age_bins_counts / drop_sn["Age Group"].count())*100, 2)

In [70]:
#build and display Demographics Summary Dataframe

demographics_df = pd.DataFrame({
    "Total Count":(age_bins_counts),
    "Percentage Of Players":(percent_bins_counts)
})

demographics_df

       Total Count  Percentage Of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [71]:
#getting calculations and series' for age analysis dataframe
groupby_agegroup_df = purchase_data.groupby("Age Group")
age_group_ttl_value = groupby_agegroup_df["Price"].sum()
age_group_avg_price = np.round(groupby_agegroup_df["Price"].mean(),2)
age_group_pur_count = groupby_agegroup_df["Purchase ID"].count()
age_group_avg_per = np.round((age_group_ttl_value / age_bins_counts),2)

In [72]:
#build and populate age analysis dataframe
age_analysis_df = pd.DataFrame({
    "Purchase Count":(age_group_pur_count),
    "Average Purchase Price":(age_group_avg_price),
    "Total Purchase Value":(age_group_ttl_value),
    "Avg Total Purchase per Person":(age_group_avg_per)
    
})
#format Price columns, delete index name 'age' and display dataframe
age_analysis_df["Average Purchase Price"] = age_analysis_df["Average Purchase Price"].map("${:.2f}".format)
age_analysis_df["Total Purchase Value"] = age_analysis_df["Total Purchase Value"].map("${:.2f}".format)
age_analysis_df["Avg Total Purchase per Person"] = age_analysis_df["Avg Total Purchase per Person"].map("${:.2f}".format)
del age_analysis_df.index.name
age_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [73]:
#getting calculations and series' for spenders dataframe
groupby_sn_df = purchase_data.groupby("SN")
sn_pur_count = groupby_sn_df["Purchase ID"].count()
sn_avg_price = np.round(groupby_sn_df["Price"].mean(),2)
sn_ttl_value = np.round(groupby_sn_df["Price"].sum(), 2)

In [74]:
#build and populate spenders dataframe
spenders_summary_df = pd.DataFrame({
    "Purchase Count": (sn_pur_count),
    "Average Purchase Price": (sn_avg_price),
    "Total Purchase Value": (sn_ttl_value)
})

#format Price columns and sort Total Purchase Value in descending order
spenders_summary_df.sort_values(by=["Total Purchase Value"], axis=0, ascending=False, inplace=True)
spenders_summary_df["Total Purchase Value"] = spenders_summary_df["Total Purchase Value"].map("${:.2f}".format)
spenders_summary_df["Average Purchase Price"] = spenders_summary_df["Average Purchase Price"].map("${:.2f}".format)
spenders_summary_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [75]:
#getting calculations and series' for popular items dataframe
group_by_items = purchase_data.groupby(["Item ID", "Item Name"])
items_pur_count = group_by_items["Purchase ID"].count()
items_ttl_value = group_by_items["Price"].sum()
item_price = np.round((items_ttl_value / items_pur_count), 2)

In [76]:
#build and popular popular items dataframe
popular_items_df = pd.DataFrame({
    
    "Purchase Count":(items_pur_count),
    "Item Price":(item_price),
    "Total Purchase Value":(items_ttl_value)
})

#format columns by adding '$' to string
popular_items_df["Item Price"] = popular_items_df["Item Price"].map("${:.2f}".format)
popular_items_df["Total Purchase Value"] = popular_items_df["Total Purchase Value"].map("${:.2f}".format)

#sort by Purchase Count and display preview 
popular_items_df.sort_values(by=["Purchase Count"], axis=0, ascending=False, inplace=True)
popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [77]:
# wasn't able to sort_values because Total Purchase Value column were strings
# drop the '$ format' from Total Purchase Value column, sort, then replace

popular_items_df["Total Purchase Value"] = popular_items_df["Total Purchase Value"].str.replace('$', '')
popular_items_df["Total Purchase Value"] = popular_items_df["Total Purchase Value"].astype(float)

#wouldn't let me sort inplace = True, had to assign to new dataframe
profit_items_df = popular_items_df.sort_values(by="Total Purchase Value", axis=0, ascending=False, inplace=False)
profit_items_df["Total Purchase Value"] = profit_items_df["Total Purchase Value"].map("${:.2f}".format)
profit_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80